.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.content{
  text-align: center;
}

.conteudo_listagem{
  width: 1100px;
  margin: 2em;
  padding: 10px;
  color:#000080;
  display: flex;
}
.main_lista{
  width: 640px;
  margin: 3em;
}
.listas{
  column-count: 2;
}
.listas>ul{
  margin: 0;
}
.listagem{
  width: 100%;
  margin: 1em;
  text-align: center;
}

.listagem h2{
  font-size: 15px;
  font-weight: bold;
}
.itens{
  border-style: inset;
  height: 110px;
  width: 250px;
  list-style: none;
}

.main{
  text-align:center;
}

.imagem{
  width: 100%;
  margin: 9em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
